@media only screen and (max-width: 20000px){
    .slider{
        display: block !important;
    }
}
@media only screen and (max-width: 800px){
    #hardwareSoftwareSelect{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100% !important;
        text-align: center !important;
    }
    #hardwareSoftwareSelect p, h1{
        text-align: center !important;
    }
    #sofwareContent{
        text-align: right !important;
    }
    .hoverSelect div{
        margin-left: var(--borderMargin) !important;
        margin-right: var(--borderMargin) !important;
    }

}

@media only screen and (max-width: 650px){
    .slide{
        height: 3.5rem !important;
        margin: 2rem 1rem 2rem 1rem !important;
    }    
}


@media only screen and (max-width: 550px){
    :root{
        --borderMargin:2rem;
    }
    html{
        font-size: 12px;
    }
    #heroPage h1{
        font-size: 5rem !important;
        line-height: 5rem !important;
    }
    #heroPage button{
        margin: auto;
        display: block;
        margin-top: 2rem;
    }
    #hero-video{
        display: none;
    }
    #mobile-heroImage{
        width: 80%;
        margin: auto;
        display: block !important;
    }

    #cellIcon{
        padding-left: 0% !important;
    }

    #data-panel-content h1{
        grid-column: 1 / span 2 !important;
        /* background-color: red; */
        
    }
    
    #fillerDiv{
        grid-row: 1 !important;
        grid-column: 3 !important;
    }
    #DPaccentImg{
        width: 10rem !important;
    }

    #solutionBuilder{
        text-align: center;
        flex-direction: column;
    }
    #solutionBuilder img{
        margin: 0 !important;
        margin-left: auto !important;
        margin-right: auto !important;
        margin-top: 1rem !important;
    }


    .hoverSelect:hover{
        border-radius: 0rem !important;
    }
    /* .slider:hover .slideTrack{
        animation-play-state: 0;
    } */
    .video{
        width: 100% !important;
        height: auto !important;
        /* height: min-content !important; */
    }
    #company-info > img{
        display: none;
    }
    .video-container{
        height: 35rem !important;
    }
    .video-overlay > div{
        height: 35rem !important;
    }
    #text-content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 2rem 1rem;

    }
    #data-panel-content{
        height: auto !important;
        padding-bottom: 2rem !important;
        margin-left: var(--borderMargin);
        margin-right: var(--borderMargin);
    }
    .circle-data-element{
        position: relative !important;
        height: 100%;
        width: auto !important;
        
    }
    .bg-blur{
        display: none;
    }
    #center-icon{
        display: none;
    }


}

#heroPage{
    display: flex;
    margin-right: 0;
    padding-right: var(--borderMargin);
    margin-top: 2rem;
    padding-bottom: 5rem;
    position: relative;
    /* height:34rem; */

    background-color: var(--light);
    z-index: 1;

    grid-template-columns: 1fr 2fr;
}

.title-text{
    margin-top: 0;
    font-size: 5rem;
    line-height: 6rem;
}
/* #heroImage{
    /* margin-left: 30rem; */

/* #heroImage{
    width: 35rem;
    height: min-content;
    margin: auto;
    /* object-fit: scale-down; */

#mobile-heroImage{
    display: none;
}
#shutdown{
    background-color: var(--dark);
    position:absolute;
    left: 0;
    width: 100%;
    height: auto;
    filter: drop-shadow(0px 4px 4px #00000057);
    z-index: 2 ;
}
#SDborder{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);
    display: flex;
}
#SDborder p{
    margin-top: 0rem;
}


#gBtn{
    border-color: var(--light);
}

#cellIcon{
    /* border: var(--light);
    fill: var(--light); */
    padding-left: 20%;
    width: 10rem;
}

#hardwareSoftwareSelect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
    /* height: max-content; */
}
#hardwareSoftwareSelect h1{
    padding-top: 2rem;
}
.hoverSelect{
    transition: 0.15s;
    border-radius: 1rem;

}
.hoverSelect > div{
    margin: 1rem;
    margin-top: 0;
}

.hoverSelect > div{
    display: flex;
    flex-direction: column;
    /* justify-content: baseline; */
    height: 100%;
}

.hoverSelect button{
    margin-bottom: 4rem !important;
}

.hoverSelect:hover{
    background-color: #ffffff;
    filter: drop-shadow(0px 0px 6px #00000025);
    border-radius: 1rem;
    z-index: 0;
}

#HSborder{
    width:100%;
    position:absolute;
    left:0;

}

/* #HSborder div{
    display: flex;
    flex-direction: column;
} */

#hardwareContent{
    margin: 0rem 1rem 0rem 1rem;
    /* transform: translateX(var(--borderMargin)); */
    display: flex;
    flex-direction: column;
    text-align: center;
} 

.HSimg{
    /* width: 25rem; */
    height: 13.5rem;
    width: auto;
    max-width: 100%;
    margin:auto;
    display: block;
    margin-bottom: 1rem;
    object-fit:scale-down;
    
}

#sofwareContent{
    margin: 0rem 1rem 0rem 1rem;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}
#camera-solution-content{
    margin: 0rem 1rem 0rem 1rem;
    /* display: flex;
    flex-direction: column; */
    text-align: center;
}

#HSbutton{
    display: block;
    margin: auto;
}

#solutionBuilder{
    z-index: 1;
    position: relative;
    background: var(--light);
    display: flex;
    margin-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}
#solutionBuilder > div{
    width: 100%;
}
#solutionBuilder img{
    height: min-content;
    width:22.5rem;
    margin-left: 4rem;
    /* display: none; */
}

#data-panel{
    /* position: absolute; */
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: inset 0px 0px 6px #00000025;
    z-index: -1;
}
#DPaccentImg{
    position: absolute;
    right: 0%;
    transform: translatey(-6rem);
    /* transform: translatex(2rem); */
    width: 15rem;
    z-index: 0;
}
/* #data-panel-content{
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1.5rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    /* grid-template-areas: "div  .   ."; */
#data-panel-content h1{
    margin-bottom: 1rem;
    grid-column: 1;
    padding-top: 1rem;
}

#data-panel-content h3{
    width: fit-content;
}

#data-panel-content p{
    margin: auto;
}

.data-panel-header{
    display: flex;
    align-items: center;
    justify-content: center;

}
.data-panel-header img{
    width: 2.5rem;
    margin-left: .5rem;
    /* height: auto; */
}

#fillerDiv{
    grid-column: 2 / span 3;
}

.slide{
    height: 5.5rem;
    margin: 3rem;
    width: fit-content;
}
.slider:hover .slideTrack{
    animation-play-state: paused;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
.video-container{
    width: 100%;
    height: 40rem !important;
    
}
#bg-video{
    width: 100%;
    height: 40rem;
    object-fit: cover;
    filter: brightness(50%);
    position: absolute;

}
.video-overlay{
    /* position: absolute; */
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 40rem;
    text-align: center;
}
.video-overlay > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40rem !important;
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);
}

.video{
    width: 40rem;
    height: 22.5rem;
    display: block;
    /* margin: auto; */
}

.optionLayout{
    width: 40rem;
    margin-bottom: 2rem;
}
.optionLayout p{
    margin: 0;
}

.optionLayout > h2{
    margin-top: 1rem;
}
.noOption{
    background-color: var(--dark);
    text-align: center;
    display: none;
}
.noOption h4{
    padding: .15rem !important;
}

.optionGrid{
    padding-top: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    filter: drop-shadow(.225rem .225rem .3rem rgba(0, 0, 0, 0.15));
}

.optionPanel{
    background-color: white;
    /* width: 20rem; */
    display: flex;
    font-size:  1.2rem;
    vertical-align: center;
    cursor: pointer;
}

/* .optionPanel{
    background-color:#0B2149
} */
.optionPanel img{
    padding-left: 1rem;
    display: block;
    height: auto;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
}

.optionPanel p{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom: 1rem;
    margin-top: 1rem;

}

.optionPanel-active{
    outline: .25rem solid var(--dark);
    /* filter: blur(.1rem); */
    filter: drop-shadow(0 0 .5rem rgba(107, 107, 107, 0.1));
}

#infoSubmissionStep > div{
    padding-bottom: 1rem;
}
#companyInput{
    width: 100%;
    height: 2rem;
    border: none;
}

#companyInput:focus{
    outline: none;
}

#optionFooter{
    padding-top: 2rem;
    
    display: flex;
    justify-content: space-between;
    margin-bottom:auto
}

.solution-builder{
    margin-left: 4rem;
    text-align: center;
}

.stats{
    display: flex;
    justify-content: space-between;
}
.stats h1{
    font-size: 4rem !important;
    margin: 0;
}

.increment::after{
    content: "+";
}

#data-panel-content{
    height: 46rem;
    padding: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    /* padding-top: 2rem; */
}
.circle-data-element{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 15rem;
    /* background-color: #F7EFEE; */
    /* padding: 2rem;
    border-radius: 2rem; */
    z-index: 3;
}

.svg-line{
    position: absolute;
    /* top: 0px; */
    left: 0px;
    z-index: 1;
}
#center-icon{
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    z-index: 3;
    /* margin: auto; */
}
#center-icon img{
    width: 10rem;
}

.quote-elem{
    padding: 2rem 0 2rem 0;
    text-align: center;
}
.quote-elem img{
    width: 6rem;
}

.slider{
    display: none;
}