@media only screen and (max-width: 900px){
    .blog-content{
        grid-template-columns: auto !important;
        margin: 2rem calc(var(--borderMargin)*2) 0rem calc(var(--borderMargin)*2) !important;
    }
}

@media only screen and (max-width: 550px){
    .blog-content{
        margin: 2rem calc(var(--borderMargin)) 0rem calc(var(--borderMargin)) !important;
    }
}
.hero-header{
    margin-top: 2rem;
}
.blog-content{
    margin: 2rem calc(var(--borderMargin)) 0rem calc(var(--borderMargin));
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
    row-gap: 4rem;
    margin-bottom: 4rem;
}

.blog-element{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.blog-content button{
    margin-top: 1rem;
}
.blog-element p{
    margin: 0.5rem;
}
.blog-element h1{
    margin-bottom: .75rem;
    /* margin-top: 0; */
}
.blog-element .medium{
    width: 100%
}
.blog-element img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    padding-bottom: .5rem;
    margin-bottom: 1rem;
}

.case-studies-flowpoint{
    /* background-color: wh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}