
#data-panel-content{
    height: 60rem;
    padding: 0;
    /* padding-top: 2rem; */
}
.circle-data-element{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 15rem;
    /* background-color: #F7EFEE; */
    /* padding: 2rem;
    border-radius: 2rem; */
    z-index: 3;
}

.bg-blur{
    --border-radius: 2rem;
    position: absolute;
    transform: translate(calc(var(--border-radius)*-1),calc(var(--border-radius)*-1));
    z-index: -1;
    background-color: white;
    filter: blur(1rem);
    padding: var(--border-radius);
    /* border: 1rem solid; */
    /* margin: 1rem; */
    height: 100%;
    width: 100%;
}
.svg-line{
    position: absolute;
    /* top: 0px; */
    left: 0px;
    z-index: 1;
}
#center-icon{
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
    /* margin: auto; */
}
#center-icon img{
    width: 10rem;
}