#data-panel-content{
    height: 60rem;
    padding: 0;
    /* padding-top: 2rem; */
}
.circle-data-element{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 15rem;
    /* background-color: #F7EFEE; */
    /* padding: 2rem;
    border-radius: 2rem; */
    animation: rotate 2s linear infinite;
}
.svg-line{
    position: absolute;
    /* top: 0px; */
    left: 0px;
}

@keyframes rotate {
    100% {
        transform:rotate(1turn) translate(100px) rotate(-1turn);
    }
}