/* :root{
    --light: #F7EFEE;
    --dark: #0B2149;
    --borderMargin: 5rem;

} */
/* .hero-elem{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.hero-elem > img{
    width: 30rem
} 

.hero-elem h1{
    font-size: 5.5rem;
    margin-top: 0;
} */


@media only screen and (max-width: 1100px){
    .driver-schedule{
        width: 100% !important;
    }
    .pillar-facts-elem{
        gap: 4rem !important;
    }
}
@media only screen and (max-width: 700px){
    .driver-schedule > img{
        display: none;
    }
}
@media only screen and (max-width: 450px){

    .schedule-reasons-elem{
        flex-direction: row !important;
    }

    .mobile-wrap{
        display: none !important;
    }
    .mobile-wrap-active{
        display: block !important;
    }

    .pillar-facts-elem{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 100% !important;
        text-align: center !important;
    }

    .dynamic > div> .icon-title{
        flex-direction: column-reverse;
    }
    .icon-title >img{
        margin: auto !important;
        /* display: block; */
    }

    .center-layout > img{
        width: 70% ;
    }
    .center-layout-img{
        width: 100% !important;
    }
    .fact-expanded-wrapper{
        grid-template-columns: auto !important;
    }
    .fact-expanded-wrapper img{
        width: 70% !important;
    }

    /* #proactive-1{
        display: none;
    }
    #proactive-2{
        display: block !important;
    } */
}

/* body > .center-layout .center-layout-img{
    width: 70%;
} */
#proactive-2{
    display: none;
}

#holistic-2{
    margin-top: 2rem;
    display: block;
}

.center-layout-img{
    width: 50% !important;
}
 .hero-elem{
    padding-bottom: 4rem !important;
 }
 .hero-elem > div{
    width: 55%;
 }

.center-layout{
    text-align: center;
    margin-top: 2rem;
    width: 70%;
    margin: auto;
}
.center-layout img{
    margin-top: 1rem;
    width: 30%;
}
.center-layout ul{
    text-align: left;
}
.center-layout li{
    margin: auto;
    width: fit-content;
}

.pillar-facts-wrapper{
    background-color: white;
    padding: 2rem var(--borderMargin) 2rem var(--borderMargin) ;
    margin-bottom: 2rem;
}
.pillar-facts-elem{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: 6rem;
}

.pillar-facts-elem > div{
    text-align: center;
}

.pillar-facts-elem img{
    /* max-height: 15rem; */
    height: 15rem;
    /* width: 100%; */
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: contain;
}
.pillar-title{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    /* gap: .75rem ; */
}
.pillar-title img{
    height: 3rem;
    /* width: min-content; */
}

.icon-title{
    display: flex;
    align-items:start;
    /* justify-content: center; */
    gap: .75rem;
}
.icon-title img{
    margin: 0;
    height: 3rem;
    /* width: fit-content; */
    /* width: min-content; */
}

.schedule-reasons-elem{
    display: flex;
    column-gap: 2rem;
    margin-top: 4rem;
}
.driver-schedule{
    /* max-width: 40%; */
    width: 60%;
    margin-right: 2rem;
}
.driver-schedule > img{
    
    /* position: absolute; */
    transform: translateX(calc(var(--borderMargin)*-1));
    max-width: calc(100% + var(--borderMargin));
    /* width: 110%; */
    width: calc(25rem + var(--borderMargin));
    filter:drop-shadow(0 0 .7rem rgba(0, 0, 0, 0.1));
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.driver-schedule h1{
    text-align: center;
}
.driver-acc-elem{
    background-color: white;
    height: fit-content;
    width: 100%;
    
    border-radius: 2rem;
    /* padding-left: var(--borderMargin); */
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.driver-acc-elem-padder{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    /* padding: 2rem 1rem 1rem var(--borderMargin)  ; */
    text-align: center;
}
.driver-acc-elem-padder > img{
    width: 90%;
    /* margin-right: 1rem; */
    margin: auto;
    display: block;
}
.reason-elem{
    padding-bottom: 2rem;
}
.reason-elem > div{
    /* padding-bottom: 2rem; */
    display: flex;
    height: min-content;
}
.reason-elem img{
    height: 3rem;
    padding-left: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
.reason-elem h1{
    height: min-content;
}
.img-wrap{
    height: min-content;
}
.builder-cta{
    /* width: 60%; */
    text-align: center;
    background-color: white;
    padding: 4rem var(--borderMargin) 4rem var(--borderMargin);
    margin-top: 4rem;
}
.builder-cta p{
    width: 70%;
    margin-left: auto;
    margin-right:auto ;
}

.telematics-ref-elem{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.fact-expanded >h1{
    text-align: center;
    padding-bottom: 2rem;
}

.fact-expanded-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6rem;
}
.fact-expanded-wrapper img {
    object-fit: contain;
    max-height: 20rem;
    /* height: 20rem; */
    width: 100%;
}

.mobile-wrap-active{
    display: none;
}
.mobile-wrap{
    display: block;
}


