:root{
    --light: #F7EFEE;
    --dark: #0B2149;

    --borderMargin: 5rem;
}
.ivms-hero-element{
    margin-bottom: 4rem;
}
.ivms-hero-element h1{
    font-size: 5.5rem;
    margin: auto;
    width: fit-content;
}
.ivms-hero-content{
    display: flex;
    column-gap: 5rem;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.ivms-hero-content img{
    height: 16.5rem;
}
.ivms-hero-content p{
    width: 35rem;
    margin: auto 0 auto 0;
    /* padding-left: 2rem; */
}
.ivms-hero-content button{
    margin-top: 1rem;
}

.builder-datacollect-elem{
    display: flex;
    column-gap: 4rem;
}

.builder-ref-elem{
    /* width: 50vw; */
    background-color: white;
    padding: 2rem 2rem 2rem var(--borderMargin) ;
    border-radius: 0 2rem 2rem 0;
    text-align: center;
}
.builder-ref-elem img{
    /* margin-left: 4rem;
    margin-right: 4rem; */
    width: 60%;
    margin: auto;
    display: block;
}
.builder-ref-elem button{
    margin-top: 1rem;
}

.data-collect-elem{
    padding-top: 2rem;
    margin-right: var(--borderMargin);
}
.aus-acc-svg{
    position: absolute;
    left: -1rem;
    margin-top: 5rem;
    /* top: 2rem; */
    z-index: 1;
    width: 27.5rem;
}
.zone-monitor-elem{
    text-align: center;
    margin-top: 4rem;
    z-index: 10;
    position: relative;
}
.zone-monitor-elem > p{
    width: 65%;
    margin: auto;
}

.rule-result-wrapper{
    padding-top: 2rem;
}
.rule-result-wrapper h1{
    margin-bottom: 1rem;
}
.rule-result{
    background-color: white;
    display: flex;
    width: 50%;
    margin: auto;
    padding:  1rem 2rem;
}
.rule-result > div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.rule-result p{
    /* align-self: center; */
    /* height: 100%; */
    float: right;
    text-align: center;
    /* margin-top: 50%; */
    /* height: min-content; */
    margin: auto;
}
.rule-result img{
    height: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
}

.zone-rules-elem{
    text-align: center;
    width: min-content;
    margin: auto;
    margin-top: 4rem;
}

.zone-rules-elem h1{
    width: max-content;
}
.slider{
    display: flex;
    flex-direction: row;
}
.slideTrack{
    display: flex;
    flex-direction: row;
}
.slide{
    margin-left: 2rem;
}

.cost-effective-elem{
    background-color: white;
    padding-left: var(--borderMargin);
    /* padding-right: var(--borderMargin); */
    display: flex;
    grid-template-columns: 3fr 2fr;
    height: min-content;
    /* padding-bottom: 2rem; */
}
.cost-effective-content{
    padding-top: 2rem;
    padding-right: 2rem;
    height: max-content;
    margin-bottom: 2rem;
}
.cost-effective-elem img{
    width: 80%;
    height: 27.5rem;
    /* height: min-content; */
    object-fit: cover;
}
.hardware-components{
    display: flex;
    margin: auto;
    width: fit-content;
    column-gap: 2rem;
}
.hardware-components p{
    margin: .5rem;
}
