:root{
    --light: #F7EFEE;
    --dark: #0B2149;

    --borderMargin: 5rem;
}

@media only screen and (max-width: 500px){
    #heroContent{
        flex-direction: column;
    }

    #heroContent img{
        max-width:100%;
        max-height:100%;
    }

    #infoItems{
        grid-template-columns: auto auto !important;
        gap: 2rem !important;
    }

    .infoItem img{
        width: 30% !important;
    }

    #companyPanel, #statsPanel{
        flex-direction: column !important;
    }

    #companyPanel img, #statsPanel img{
        max-width:100%;
        max-height:100%;
        padding: 0 !important;
    }

    #clientList > div{
        gap: 0 !important;
        justify-content: space-between !important;
    }
    
}

#heroContent{
    display: flex;
    margin-bottom: 1rem;
}
#heroContent img{
    width: 40rem;
    height: auto;
}

#heroContent h1{
    font-size: 3rem;
}


#featuresBorder{
    position: absolute;
    left: 0;
    /* top: 0; */
    background-color: white;
    width: 100%;
}

#featuresBorder h1{
    text-align: center;
    margin-top: 2rem;
    padding-bottom: 1rem;
    font-size: 2.25rem;
}

#infoItems{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4rem;
    row-gap: 1rem;
    margin-bottom: 1rem;
}

.infoItem{
    text-align: center;
}

.infoItem img{
    width: 15%;
}

.infoItem h2{
    margin: 0;
}

#companyPanel{
    display: flex;
    margin-top: 2rem;
}

#companyPanel img, #statsPanel img{
    width: 40rem;
    height: auto;
    padding-left: 4rem;
}

#statsPanel{
    display: flex;
    margin-top: 2rem;
}

/* #statsPanel img{
    width: 40rem;
    height: auto;
    padding-right: 4rem;

    
} */

#clientList{
    text-align: center;
    padding-top: 1rem;
}


#clientList > div{
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.clientLogo{
    width: 4rem;
    height: 4rem;
    background-color: grey;
}