:root{
    --light: #F7EFEE;
    --dark: #0B2149;

    --borderMargin: 5rem;
}

/* body{
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}

body::-webkit-scrollbar{
    display: none;
} */

#mainContent{
    display: flex;
    /* height: calc(100vh - 12rem); */
}

#builderHeroImage{
    width: 50%;
    display: block;
    margin: auto;
}

#informationPanel{
    padding-right: 4rem;
}

#informationPanel h1{
    font-size: 3rem;
}

.optionLayout{
    /* width: 60vw; */
}
.optionLayout p{
    margin: 0;
}

.optionGrid{
    padding-top: 1rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: auto auto;
    filter: drop-shadow(.225rem .225rem .3rem rgba(0, 0, 0, 0.15));
}

.optionPanel{
    background-color: white;
    width: 20rem;
    display: flex;
    font-size:  1.2rem;
    vertical-align: center;
    cursor: pointer;
}

/* .optionPanel{
    background-color:#0B2149
} */
.optionPanel img{
    padding-left: 1rem;
    display: block;
    height: 4rem;
    margin-top: auto;
    margin-bottom: auto;
}

.optionPanel p{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;

    margin-bottom: 1rem;
    margin-top: 1rem;
}

.optionPanel-active{
    background-color: black;
}

#optionFooter{
    padding-top: 2rem;
    
    display: flex;
    justify-content: space-between;
    margin-bottom:auto
}