:root{
    --light: #F7EFEE;
    --dark: #0B2149;
    /* --borderMargin: 10rem; */
    --mobileDDanimationSpeed: .25s
}

.dark{
    color: var(--dark);
}
.light{
    color: var(--light);
}



.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: .25em;
    margin-top: .25em;
    line-height: 100%;
}

.hind-vadodara {
    font-family: "Hind Vadodara", sans-serif;
    font-style: normal;
}

.bold{
    font-weight: 800 ;
}

.semibold{
    font-weight: 600;
}

.medium{
    font-weight: 500;
}



@media only screen and (max-width: 10000px){
    html{
        font-size: 18px;
    }
    :root{
        --borderMargin: 15rem;
    }
}

@media only screen and (min-width: 1800px){
    :root{
        --borderMargin: 13rem;
    }
}
@media only screen and (max-width: 1800px){

    .hero-header-dynamic{
        text-align: center;
        margin-bottom: 2rem;
    }

    .hero-header, .hero-header-dynamic{
        /* font-size: 4rem !important; */
        margin-top: 0;
    }
    
    .laptop-title{
        display: none;
    }
    .laptop-hero{
        display: flex;
        flex-direction: row;
    }
    .laptop-hero video, .laptop-hero button{
        display: block !important;
    }
    .basic-layout h1{
        /* font-size: 5rem !important; */
        /* line-height: 5rem !important; */
    }
    .basic-layout button{
        /* margin: auto;
        display: block;
        margin-top: 2rem; */
        display: none;
    }
    .basic-layout video{
        display: none;
    }
}

@media only screen and (max-width: 1600px){
    #header{
        margin-left: var(--borderMargin) !important;
        margin-right: var(--borderMargin) !important;
    }
    #headerBtn{
        margin-left: auto;
        margin-right: 1rem;
    }
    .headerDD{
        display: block !important;
    }
    #links{
        display: none !important;
    }

    html{
        font-size: 16px;
    }
}

@media only screen and (max-width: 1400px){
    :root{
        --borderMargin: 10rem;
    }
    /* .basic-layout > div{
        flex-direction: row;
    } */

    
    
}
@media only screen and (max-width: 1200px){
    :root{
        --borderMargin: 7.5rem;
    }
}
@media only screen and (max-width: 1088px){
    :root{
        --borderMargin: 4.5rem;
    }

    #footer{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
        padding: 0;
    }
    #footerInfo{
        flex-direction: column !important;
        width: 100%;
    }
    #footerLinks{
        flex-direction: row;
        width: 100%;
        padding-left: 0px !important;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 2rem;
        /* height: 16rem; */
        /* flex-direction: column-reverse; */
        /* justify-content:space-between; */
    }
    #footerLinks > div{
        width: min-content;
        margin: auto;
        margin-bottom: 2rem;
    }
}
@media only screen and (max-width: 850px){
    :root{
        --borderMargin: 3rem;
    }
}
@media only screen and (max-width: 800px){
    html{
        font-size: 14px;
    }
}

@media only screen and (max-width: 550px){
    :root{
        --borderMargin: 2rem !important; 
    }
    html{
        font-size: 12px;
    }
    /* #header{
        position: fixed;
        background: var(--light);
    } */
    /* #header{
        margin-left: var(--borderMargin) !important;
        margin-right: var(--borderMargin) !important;
    }
    #headerBtn{
        margin-left: auto;
        margin-right: 1rem;
    }
    .headerDD{
        display: block !important;
    }
    #links{
        display: none !important;
    } */
    #footer{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
        padding: 0;
    }
    #footerInfo{
        flex-direction: column !important;
        width: 100%;
    }
    #footerLinks{
        flex-direction: row;
        width: 100%;
        padding-left: 0px !important;
        flex-wrap: wrap;
        text-align: center;
        margin-top: 2rem;
        /* height: 16rem; */
        /* flex-direction: column-reverse; */
        /* justify-content:space-between; */
    }
    #footerLinks > div{
        width: min-content;
        margin: auto;
        margin-bottom: 2rem;
    }
    /* .footer-industries > div{
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    } */
    .dropdown{
        display: flex !important;
        justify-content: space-between;
        /* display: block !important; */
    }
    .dropdown img{
        width: min-content;
    }

    .mobile-heroImage{
        display: block !important;
        margin: auto !important;
        width: 100% !important;
        max-width: none !important;
    }
    .basic-layout.dynamic{
        text-align: center;
    }

    .dynamic button{
        margin: auto;

        display: block;
        margin-top: 2rem;
    }

    .laptop-hero video, .laptop-hero button{
        display: none !important;
    }

    .basic-layout.dynamic > img{
        display: none !important;
    }
    .basic-layout.dynamic > div > img{
        display: block !important;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 70%;
        /* margin: 2rem 0 auto auto; */
    }

    .left-align img{
        margin-right: auto !important;
        margin-left: auto !important;
    }
    
}

body{
    background-color:var(--light);
    margin: 0;
    /* margin-left: var(--borderMargin);
    margin-right: var(--borderMargin); */

}
html{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}
h2{
    font-size: 1.55rem;
    /* font-size: calc(.5rem + 1vw); */
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 1.1rem;
    font-weight: 500;
}
li{
    font-size: 1.1rem;
    /* font-weight: 500; */
}
img{
    max-width: 100%;
}


/* hr{
    background-color: #0B2149;
    color: #0B2149;
    /* border: none; */
    /* height: .2rem */


.solidBg{
    margin-left: 0;
    margin-right: 0;
}

body > div{
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);
}


.buttonStyle{
    background-color: transparent;
    border: .2rem solid var(--dark);
    color: var(--dark);
    text-align: center;
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    cursor:pointer;
}
.buttonStyle:hover{
    color: black;
}
.buttonStyle *{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: .4rem;
    margin-right: .4rem;
    font-size: 1.7rem;
}

.marginExtend{
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
    padding-top: 1rem;
    margin-left: calc(var(--borderMargin)/2);
    margin-right: calc(var(--borderMargin)/2);
}
#header div{
    z-index: 3;
}

#headerBtn{
    /* width: 100%; */
    text-align: right;
    text-wrap: nowrap;
}
#headerBtn button{
    margin: auto;
}

#logoHeader{
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoHeader img {
    width: 4.5rem;
    /* padding-bottom: .25rem; */
}
#logoHeader h2 {
    /* margin: auto; */
    width: 100%;
    /* padding-left: .5rem; */
}
#links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    margin-right: 2rem;
}  
#links h2{
    text-decoration-line: none;
}
#links a{
    text-decoration-line: none !important;
}

#DDbg{
    display: none;
    left: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #00000075;
    z-index: 11;
    overflow: hidden;
    /* filter: blur(1rem); */
}

.headerDD{
    display: none;
}

/* #headerDD:focus + #DDbg{
    display:block !important;

} */

.headerDD img{
    width:2.5rem;
    
}

#DDcontent{
    width: calc(70vw - var(--borderMargin) - 2rem);
    background: var(--dark);
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    filter: drop-shadow(-1rem 0 1rem #00000046);
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
}
#DDheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

#DDlinks{
    width: 100%;
    height: 50rem;
    display: flex;
    position: relative;
    /* animation: scroll-left .25s ease-in-out forwards; */
    right: 0;
    /* right: 100%; */
    overflow: hidden;
    /* clip-path: inset(0 0 0 0); */
}
#DDlinks h2{
    margin: 0;
}
#DDlinks > div > *{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* #DDlinks > div > h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
@keyframes scroll-left-main {
    100%{
        right: 100%;
    }
}
@keyframes scroll-left-secondary {
    100%{
        left: 0;
        /* transform: translateX(-200px); */
        /* right: -100%; */
    }
}
@keyframes scroll-right-main {
    100%{
        right: 0;
    }
}
@keyframes scroll-right-secondary {
    100%{
        left: 100%;
        /* transform: translateX(-200px); */
        /* right: -100%; */
    }
}
.scroll-left-main{
    animation: scroll-left-main var(--mobileDDanimationSpeed) ease-in-out forwards;

}
.scroll-left-secondary{
    animation: scroll-left-secondary var(--mobileDDanimationSpeed) ease-in-out forwards;
}
.scroll-right-main{
    animation: scroll-right-main var(--mobileDDanimationSpeed) ease-in-out forwards;
}
.scroll-right-secondary{
    animation: scroll-right-secondary var(--mobileDDanimationSpeed) ease-in-out forwards;
}


#main-links{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    
    display: flex;
    flex-direction: column;
    /* animation: scroll-left-main 1s ease-in-out forwards; */
    /* clip-path: inset(0 0 0 0); */
    /* align-items: center; */
    /* justify-content: center; */
    /* row-gap: 1rem; */
}
#secondary-links{
    position: absolute;
    left: 100%;
    width: 100%;
    /* animation: scroll-left-secondary 1s ease-in-out forwards; */
}
/* #DDcontent{
    margin: ;
} */

.textLink{
    white-space:nowrap;
    /* text-decoration-line: underline ; */
    /* text-underline-offset: .15em; */
    /* text-decoration-thickness: .1em; */
    cursor: pointer;
}
.textLink:hover.light{
    color: white;
}
.textLink:hover.dark{
    color: black;
}

#links > div, #links > h2{
    padding-left: .75rem;
    padding-right: .75rem;
}
/* #links a{
    padding-left: .4rem;
} */

#footerBorder{
    position: absolute;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    /* transform: translateY(10px); */
}
#footer{
    display: flex;
    justify-content: center;
    margin-left: 15rem; 
    margin-right: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#footerLogo{
    width:min-content;
    margin-right: 1rem;
}
#footerLogo img{
    width: 100%;
}

#footerInfo{
    display: flex;
    flex-direction: row;
    
    
}
#company-info{
    display: flex;
    flex-direction: column;
}
#company-info >div{
    display: flex;
    flex-direction: row;
}
#company-info > img{
    padding-top: 1rem;
    max-width: 20rem;
}
#footerContact{
    display: flex;
    flex-direction: column;
}
#footerLinks{
    display: flex;
    /* flex-wrap:wrap; */
    gap: 4rem;
    row-gap: 0;
    padding-left: 4rem;
}

#footerLinks > div > div{
    /* height:fit-content; */
    display: flex;
    flex-direction: column;
}
#footerLinks a{
    white-space: nowrap;
}

.dropdown{
    z-index: 2;
    position:relative;
    display: inline-block;
}
.dropdown-wrapper{
    display: none;
    position: absolute;
    /* background-color: white; */
    /* top: 0;  */
    /* bottom: 0; */
    left: 0; 
    right: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}
.industries-dd{
    right:auto
    
}
.dropdown-padder{
    height: .5rem;
    background-color: transparent;
}
.dropdown-content{
    background-color: white;
    filter: drop-shadow(.2rem .6rem .8rem rgba(0, 0, 0, 0.15));
}
.dropdown-content a {
    font-size: 1.1rem;
    padding: .5rem .5rem;
    /* text-align: center; */
    white-space:nowrap;
    /* padding: 12px 16px; */
    /* text-decoration: none; */
    line-height: normal;
    display: block;
}
.dropdown-content a:hover{
    /* background-color: var(--light); */
    /* border: .2rem solid var(--dark); */
    box-shadow: inset 0 0 0 .15rem var(--dark);
}

.dropdown:hover .dropdown-wrapper {
    display: block;
}
.dropdown:hover h2{
    color: black;
}
.dropdown-select{
    width: 100%;
    background: none;
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* margin-bottom: 2rem; */
}
.dropdown-selected{
    /* position: absolute;
    top:0; */
    background-color: var(--dark);
    width: 100%;
    height: 100%;
}

.inactive-dd-expansion{
    /* animation: fade-out 1s linear forwards; */
}



.arrow-up {
    position: absolute;
    padding: 0;
    transform: translateY(.25rem);
    z-index: 10;
    width: 0; 
    height: 0; 
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid white;
    margin-left: calc(50% - .5rem);
}

.social-links{
    display: flex;
    gap: .55rem;
    margin-right: 2rem;
}
.social-links img, .social-links a{
    width: 1.7rem;
    height: 1.7rem;
    /* border: .1rem solid var(--dark); */
    /* border-radius:50% ; */
}

@keyframes fade-out{
    100%{
        transform: translateX(110%);
    }
}

.slider{
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--light);
    z-index: 3;
}
.slideTrack{
    animation: 40s slide infinite linear;
    display: inline-block;
    /* flex-direction: row; */
    width: max-content;

}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.rounded{
    border-radius: 1rem
}
.full{
    padding-left: var(--borderMargin);
    padding-right: var(--borderMargin);
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-color: white;
}
.dropshadow-img{
    filter: drop-shadow(0 .25rem .4rem rgba(0, 0, 0, 0.37));
}

.hero-header, .hero-header-dynamic{
    font-size: 4rem;
    margin-top: 0;
}

.basic-layout{
    display: flex;
    padding-top: 2rem;
    padding-bottom: 4rem;
}
.basic-layout > img, .basic-layout > video{
    width: 35rem;
    max-width: 40%;
    height: min-content;
    margin: auto;
    margin-left: 4rem;
    object-fit: scale-down;
} 

.basic-layout.dynamic >div > img{
    display: none;
}
.laptop-hero video, .laptop-hero button{
    display: none;
}
.laptop-hero button{
    display: none;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.mobile-heroImage{
    display: none;
}

.hero-elem{
    width: 35rem;
    max-width: 40%;
    height: min-content;
    margin: auto;
    padding-left: 4rem;
}