:root{
    --light: #F7EFEE;
    --dark: #0B2149;
    --borderMargin: 5rem;
}

.dark{
    color: var(--dark);
}
.light{
    color: var(--light);
}



.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: .25em;
    margin-top: .25em;
    line-height: 100%;
  }

.hind-vadodara-semibold {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

@media only screen and (max-width: 10000px){
    html{
        font-size: 18px;
    }
}
@media only screen and (max-width: 500px){
    html{
        font-size: 14px;
    }
    body{
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
    /* #header{
        position: fixed;
        background: var(--light);
    } */
    .headerDD{
        display: block !important;
    }
    #links{
        display: none !important;
    }
    #footer{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
        padding: 0;
    }
    #footerInfo{
        flex-direction: column !important;
    }
    #footerLinks{
        padding-left: 0px !important;
        justify-content:space-between;
    }
}

body{
    background-color:var(--light);
    margin: 0;
    margin-left: var(--borderMargin);
    margin-right: var(--borderMargin);

}
html{
    margin: 0;
}
a{
    color: inherit;
    text-decoration: inherit;
}

.buttonStyle{
    background-color: transparent;
    border: .2rem solid var(--dark);
    color: var(--dark);
    /* margin-top: 1rem; */
    margin-bottom: 1rem;
    cursor:pointer;
}
.buttonStyle *{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: .4rem;
    margin-right: .4rem;
    font-size: 1.7rem;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--dark);
    padding-top: 1rem;
}

#headerBtn{
    /* width: 100%; */
    text-align: right;
    text-wrap: nowrap;
}
#headerBtn button{
    margin: auto;
}

#logoHeader{
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}
#logoHeader img {
    width: 3.5rem;
}
#logoHeader h2 {
    margin: auto;
    width: 100%;
    padding-left: .5rem;
}
#links{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}  

#DDbg{
    display: none;
    right: 0;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #00000075;
    z-index: 11;
    overflow: hidden;
}

.headerDD{
    display: none;
}

/* #headerDD:focus + #DDbg{
    display:block !important;

} */

.headerDD img{
    width:2.5rem;
    
}

#DDcontent{
    width: calc(70vw - var(--borderMargin) - 2rem);
    background: var(--dark);
    height: 100%;
    margin-left: auto;
    margin-right: 0;
    filter: drop-shadow(-1rem 0 1rem #00000046);
    padding-right: var(--borderMargin);
    padding-left: 2rem;
    padding-top: 1rem;
}
#DDheader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

#DDlinks{
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    row-gap: 1rem;
}
/* #DDcontent{
    margin: ;
} */

.textLink{
    white-space:nowrap;
    text-decoration-line: underline ;
    text-underline-offset: .15em;
    text-decoration-thickness: .15em;
    cursor: pointer;
}
.textLink:hover.light{
    color: white;
}
.textLink:hover.dark{
    color: black;
}

#links * {
    padding-left: .5rem;
    padding-right: .5rem;
}
#links a{
    padding-left: .4rem;
}

#footerBorder{
    position: absolute;
    left: 0;
    background-color: var(--dark);
    width: 100%;
    /* transform: translateY(10px); */
}
#footer{
    display: flex;
    justify-content: center;
    margin-left: 15rem; 
    margin-right: 15rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#footerLogo{
    width:min-content;
    margin-right: 1rem;
}
#footerLogo img{
    width: 100%;
}

#footerInfo{
    display: flex;
    flex-direction: row;
    
    
}
#footerContact{
    display: flex;
    flex-direction: column;
}
#footerLinks{
    display: flex;
    flex-wrap:wrap;
    gap: 4rem;
    row-gap: 0;
    padding-left: 4rem;
}

#footerLinks div{
    height:fit-content;
}
/* #footerLinks{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(100%, 1fr);
    gap: 1rem;
    padding-left: 4rem;
}
#footerLinks div h2{
    width:100%;
} */
