:root{
    --light: #F7EFEE;
    --dark: #0B2149;
}

.dark{
    color: var(--dark);
}
.light{
    color: var(--light);
}

.koulen-regular {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: .5em;
    margin-top: .5em;
  }

.hind-vadodara-semibold {
    font-family: "Hind Vadodara", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


@media only screen and (max-width: 1000px){
    html{
        font-size: 10px;
    }
}

body{
    background-color:var(--light);
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
}

.buttonStyle{
    background-color: transparent;
    border: .2rem solid var(--dark);
    color: var(--dark);
}
.buttonStyle *{
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-left: .4rem;
    margin-right: .4rem;
    font-size: 1.5rem;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}
#headerBtn{
    width: 100%;
    text-align: right;
}

#logoHeader{
    width: 100%;
}

#links{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space:nowrap;
    text-decoration-line: underline ;
    text-underline-offset: .2rem;
    text-decoration-thickness: .2rem;
}

#links * {
    padding-left: .5rem;
    padding-right: .5rem;
}
#links a{
    padding-left: .4rem;
}