/* *{
    box-sizing: border-box;
} */
.slider{
    overflow: hidden;
    white-space: nowrap;
    width: max-content;
    
}
.slideTrack{
    animation: 40s slide infinite linear;
    display: inline-block;

}
.slide{
    height: 6rem;
    margin: 2rem;
}
.slider:hover .slideTrack{
    animation-play-state: paused;
}

@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}